.ai-search-container {
    --font-body: Helvetica, 'Trebuchet MS', Verdana, sans-serif;
    --color-text: rgba(18, 18, 18, 0.8);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
    height: 100%;
    width: 100%;
    font-family: var(--font-body);
    font-size: 1.2em;
    color: var(--color-text);
}
.ai-search-container * {
    box-sizing: border-box;
}
.column {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 1rem;
}
.left {
    border-right: 1px solid var(--color-text);
}